services:
  web:
    image: odoo:18.0
    depends_on:
      - db
    restart: always
    ports:
      - "8069:8069"

    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons/addons
      - ./custom_addons:/mnt/extra-addons/custom_addons
    environment:
      - HOST=mydb
      - USER=odoo
      - PASSWORD=${POSTGRES_PASS}
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASS}
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
volumes:
  odoo-web-data:
  odoo-db-data: